.DS_Store
.ipynb_checkpoints/
__pycache__/
*.ipynb
.Rhistory
Neural Network Library/.idea/misc.xml
Neural Network Library/.idea/misc.xml
Neural Network Library/.idea/Neural Network Library.iml
Neural Network Library/.idea/Neural Network Library.iml
Neural Network Library/.idea/misc.xml
